dist/flip-card-game-website.js
dist/style.css

# Logs
logs
*.log

# Coverage directory used by tools like nyc
.nyc_output
coverage

# Dependency directory
node_modules

# Users Environment Variables
.lock-wscript

.idea
