# Enabling committing /dist because this is the folder that gets
# deployed to prod
#dist

# Logs
logs
*.log

# Coverage directory used by tools like nyc
.nyc_output
coverage

# Dependency directory
node_modules

# Users Environment Variables
.lock-wscript

.idea
